body {
  margin: 32px;
  padding: 32px;
  font-family: 'Work Sans', sans-serif;
  background-color: #f5f5f5;
  color: #888;
}

.title {
  color: #333;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
}

ul {
  list-style: none;
  padding: 0px;
}

input,
textarea {
  border: 1px solid;
  border-radius: 3px;
  padding: 8px;
  width: 100%;
}

.btn-icon {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0px;
  font-size: inherit;
}

.container {
  max-width: 900px;
}

.md-arrow-upward:hover,
.md-arrow-downward:hover {
  cursor: pointer;
}

.md-arrow-upward {
  fill: green;
}

.md-arrow-downward {
  fill: red;
}

.small {
  font-size: .85em;
}

.comment-time {
  font-weight: 200;
}

.comment-author {
  font-weight: 500;
}

.comment-body {
  padding-left: 16px;
}
